/* Kopjes font */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Concert+One&family=Kalam:wght@300;400;700&display=swap');
/* p fonts */
html {
    font-size: 15px;
}

* {
    outline: 2px solid red;
    margin: 0px;
    box-sizing: border-box;
}
nav {
    display: flex;
}
.logo   {
    flex: 1;
    
}
nav img{
    
    width: 5vw;
}
nav a{
    text-decoration: none;
    color: white;
    margin: 0 30px 0 0;

}
.links {
    align-content: center;
    
    
}


h1,
h2,
h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2 {
    justify-content: center;
}



nav {
    background-color: #FFBB70;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px 200px;
    border-bottom: 2px solid black;
    min-height: calc(90vh - 80px);
    background-image: url(../CSS/img/robot2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* max-height: 50vh;
    max-width: 80vw ; */
}

body {
    background-color: #FFFBDA;
}


.creators {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    gap: 20px;
}

.articles {
    min-width: 25vw;
    background-color: #FFEC9E;
}

main img {
    width: 100%;
    height: 30vh;
    object-fit: contain
}

footer {
    background-color: #ED9455;
}