/* Kopjes font */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Concert+One&family=Kalam:wght@300;400;700&display=swap');

/* p fonts */

* {
    /* outline: 2px solid red; */
    margin: 0px;
    /* padding: 0; */
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    background-color: #FFFBDA;
}

nav {
/* img {} */
    display: flex;
}

.logo {
    flex: 1;
    margin-left: 15px;
}

nav img {
    width: 5vw;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 30px 0 0;
}

.links {
    align-content: center;
}

h1,
h2,
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#set-up {
    display: flex;
   justify-content:  center;
   /* border-bottom: 2px solid black; */
}

nav {
    background-color: #FFBB70;
}

#header-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px 200px;
    border-bottom: 2px solid black;
    min-height: calc(90vh - 80px);
    background-image: url(../CSS/img/robot2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* max-height: 50vh;
    max-width: 80vw ; */
}

#header-guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px 200px;
    border-bottom: 2px solid black;
    min-height: calc(90vh - 80px);
    background-image: url(../CSS/img/storybord.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#header-contacts {
    background-color: #FFEC9E;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px 200px;
    border-bottom: 2px solid black;
    min-height: calc(90vh - 80px);
    background-image: url(../CSS/img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.creators {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    gap: 30px;
}

.articles {
    min-width: 25vw;
    background-color: #FFEC9E;
}

.ceator-p {
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
}

main img {
    width: 100%;
    height: 30vh;
    object-fit: contain
}

#set-up {
  
}

footer {
    background-color: #ED9455;
    display: flex;
}

footer img {
    width: 4vw;
}

footer a {
    margin-right: 15px;
    text-decoration: none;
    color: white;

}



/* /////////////////////////////        form              ///////////////////////////////////// */

h3 {
    font-size: 2rem;
    color: rgb(70, 49, 4);
}

input,
select {

    padding: 0.6vh 3vw;
    font-size: 1rem;
    text-align: left;
    margin-left: 0;

}

select {
    padding: 0.6vh 3vw;
    font-size: 1rem;
}

.form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;


    padding: 10vh 0 10vh 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form {
    display: flex;
    flex-direction: column;

    min-width: 60vw;
    margin: 4vh 0 8vh 0;
}

.form-row {
    display: flex;
    gap: 0.5vw;
    margin-top: 1vh;
    align-content: stretch;




}

.form-row-email {
    display: flex;

    flex-direction: column;
}

.form-column-last {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vh;
    margin-top: 1vh;
}

.form-column {
    display: flex;
    flex-direction: column;

    align-items: stretch;
    flex-grow: calc(1);
    gap: 1vh;

}

#message {
    padding-bottom: 10vh;

}

.form-button {
    display: flex;
    align-self: center;
    margin: 3vh 0;
}

#form-button {
    padding: 1vh 20vw;
    color: rgb(21, 8, 41);

    border: solid;
    border-color: rgb(178, 104, 54);
    border-width: 2px;
    border-radius: 6px;
    background-color: transparent;

}

.form-button:hover {

    background-color: rgb(218, 139, 30);
    color: rgb(22, 13, 2);
    border: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 6px;
    cursor: pointer;
}


